version: "3.9"

services:
  app:
    build: .
    container_name: teacher-api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DATABASE_URL=mysql://root:root@mysql:3306/class
      - PORT=3000
    depends_on:
      - mysql
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    container_name: mysql-local
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: class
      MYSQL_USER: thanhnt2930
      MYSQL_PASSWORD: thanhnt2930
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
